html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  background: #373f51;
  font-family: 'Roboto';
  color: #ccc9a1;
  overflow: hidden;
}



button {
  background: none;
  border: none;
}

button::-moz-focus-inner {
  border: 0;
}

.page_content {
  top: 50;
  bottom: 0;
  position: relative;
  right: 0;
  z-index: 2;
  transition: transform .5s ease-in-out;
}


h1 {
  width: 100%;
  height: 65px;
  line-height: 65px;
  z-index: 0;
  position: relative;
  vertical-align: middle;
  text-align: center;
  background-color: #323a4a;
}

.scollable {

}

#chart svg {
  height: 300px;
  color: #fff;
}

svg {
    display: block;
}

.nvd3 .nv-axis {
  fill: #fff;
  stroke-opacity: .75;
  shape-rendering: crispEdges;
}

.nv-legend-text {
  fill: #fff;
}

.nvd3 .nv-axis path {
  fill: none;
  stroke: #fff;
  stroke-opacity: .75;
  shape-rendering: crispEdges;
}

.nvd3 .nv-axis line {
    fill: none;
    stroke: #5b6170;
    shape-rendering: crispEdges;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.home_page {
  position: relative;
  transition: transform .5s ease-in-out;
}

.add_page {
  position: relative;
  transition: transform .5s ease-in-out;
}

.archive_page {
  position: relative;
  transition: transform .5s ease-in-out;
}

.silder_out {
  left: 150
}

.home_menue_item{

}

.add_menue_item{

}

.archive_menue_item{

}
