html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  background: #373f51;
  font-family: 'Roboto';
  color: #ccc9a1;
  overflow: hidden;
}



button {
  background: none;
  border: none;
}

button::-moz-focus-inner {
  border: 0;
}

h1 {
  text-align: center;
  top: -80;
  position: relative;
}

.scollable {

}

#chart svg {
  height: 300px;
  color: #fff;
}

svg {
    display: block;
}

.nvd3 .nv-axis {
  fill: #fff;
  stroke-opacity: .75;
  shape-rendering: crispEdges;
}

.nvd3 .nv-axis path {
  fill: none;
  stroke: #fff;
  stroke-opacity: .75;
  shape-rendering: crispEdges;
}

.home_content {
  top: 50;
  bottom: 0;
  position: relative;
  right: 0;
  z-index: 2;
  transition: transform .5s ease-in-out;
}

.add_content {
  top: 50;
  bottom: 0;
  position: relative;
  right: 0;
  z-index: 2;
  transition: transform .5s ease-in-out;
}

.archive_content {
  top: 50;
  bottom: 0;
  position: relative;
  right: 0;
  z-index: 2;
  transition: transform .5s ease-in-out;
}

.silder_out {
  left: 150
}

.home_menue_item{

}

.add_menue_item{

}

.archive_menue_item{

}
